/client/*.log
/server/*.log
/client/target
/server/target
/*-init.clj
/client/resources/public/js/compiled
out
.nrepl-port
.rebel_readline_history
/server/classes
/server/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/server/.lein-*
/server/.nrepl-port
